{% extends 'base.html' %}
{% block head_title %}
this is amazing!!!!
{% endblock head_title%}
{% block content %}
<div class='row text-center'>
    <div class='col'>
        <h1>Welcome to AM</h1>
    </div>
</div>

<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' method='POST' action='/create-tweet/'>
            {% csrf_token %}
            <input type='hidden' value='/' name='next' />
            <textarea class='form-control' name='content' placeholder='Your tweet...'></textarea>
            <button type='submit' class='btn btn-primary'>Tweet</button>
        </form>
    </div>
</div>

<div class='row' id='tweets'>
    Loading...
</div>
<script>
const tweetsElement = document.getElementById("tweets")
const xhr = new XMLHttpRequest()
const method = 'GET'
const url = "/tweets"
const responseType = "json"

function handleDidLike(tweet_id, currentCount) {
    // Convertir en nombre et incrémenter
    const newCount = parseInt(currentCount) + 1;
    
    // Mettre à jour l'affichage du bouton
    const likeButton = document.querySelector(`#tweet-${tweet_id} .like-btn`);
    if (likeButton) {
        likeButton.innerHTML = `${newCount} Likes`;
        // Mettre à jour l'attribut onclick avec le nouveau compteur
        likeButton.setAttribute('onclick', `handleDidLike(${tweet_id}, ${newCount})`);
    }
    
    // Vous pourriez ajouter ici une requête AJAX pour mettre à jour le like sur le serveur
    console.log("Tweet liked!", tweet_id, "New count:", newCount);
    
    // Empêcher le navigateur de suivre le lien onclick
    return false;
}

function LikeBtn(tweet) {
    // Vérifier si likes existe, sinon utiliser 0
    const likesCount = tweet.likes !== undefined ? tweet.likes : 0;
    
    // Ajouter une classe pour pouvoir sélectionner le bouton facilement
    return "<button class='btn btn-primary btn-sm like-btn' onclick='return handleDidLike(" + 
    tweet.id + ", " + likesCount + ")'>" + likesCount + " Likes</button>"
}

function formatTweetElement(tweet) {
    var formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id 
    + "'><p>" + tweet.content + 
        "</p><div class='btn-group'>" + LikeBtn(tweet) +
        "</div></div>"
    return formattedTweet
}

xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function() {
    const serverResponse = xhr.response
    const listedItems = serverResponse.response // array
    var finalTweetStr = ""
    var i;
    for (i=0;i<listedItems.length; i++) {
        var tweetObj = listedItems[i]
        var currentItem = formatTweetElement(tweetObj)
        finalTweetStr += currentItem
    }
    tweetsElement.innerHTML = finalTweetStr
}
xhr.send()
</script>
{% endblock content %}²